<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
    <head>

        {{ block "site/meta" . }}{{ partial "site/meta.html" . }}{{ end }}

        {{ range .AlternativeOutputFormats }}
            <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
        {{ end }}

        {{ block "site/styles" . }}{{ partial "site/styles.html" . }}{{ end }}

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
       
        {{ block "schema" . }}
        {{ end }}
        {{- $url := replace .Permalink ( printf "%s" ( "/" | absLangURL ) ) "" -}}
        {{- $url := replace .Permalink ( printf "%s" ( "/" | absLangURL ) ) "" -}}

        {{- $.Scratch.Add "path" ( "/" | absLangURL ) -}}
        {{- $.Scratch.Add "breadcrumb" (slice (dict "url" ( "/" | absLangURL ) "name" "home" "position" 1 )) -}}
        {{- range $index, $element := split $url "/" -}}
        {{- $.Scratch.Add "path" $element -}}
        {{- $.Scratch.Add "path" "/" -}}
        {{- if ne $element "" -}}
        {{- $.Scratch.Add "breadcrumb" (slice (dict "url" ($.Scratch.Get "path") "name" . "position" (add $index 2))) -}}
        {{- end -}}
        {{- end -}}
        <script type="application/ld+json">
            {
            "@context": "http://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [
            {{ range $.Scratch.Get "breadcrumb" }}
                {{ if ne .position 1 }},
            {{ end }}
            {
                    "@type": "ListItem",
                    "position": {{ .position }},
                    "item": {
                    "@id": "{{ .url }}",
                    "name": "{{ .name }}"
                    }
                }{{ end }}]
            }
            </script>
            <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
            <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
            <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
            <link rel="manifest" href="/site.webmanifest">
            <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
            <meta name="msapplication-TileColor" content="#2b5797">
            <meta name="theme-color" content="#ffffff">
    </head>
    <body>

        {{ block "header" . }}{{ partial "site/header.html" . }}{{ end }}

        <main class="site-main" role="main">

            {{ block "main" . }}{{ end }}

        </main>

        {{ block "footer" . }}{{ partial "site/footer.html" . }}{{ end }}

        {{ block "site/scripts" . }}{{ partial "site/scripts.html" . }}{{ end }}
    </body>
</html>