{{ define "main" }}
<section>
    <div class="trees-green" style="background-image: url(' {{ .Site.Data.WhoWeWorkWith.image | relURL }} ');">
        <div class="container">
            <h1 class="uppercase mb-0">
                {{ .Params.siteTitle }}
            </h1>
            <div class="grid-2 align-items-center">
                <div class="text-wrapper">
                    {{ .Content | safeHTML }}
                </div>
                <div class="img-wrapper mt-1 pb-2">
                    <div class="grid-2">
                        <img src="{{ .Params.img1 | relURL }}" alt="">
                        <img class="mt-1" src="{{ .Params.img2 | relURL }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}