.logo {
  max-width: 200px;
}

.navbar-wrapper {
  // background-color: $grey;
}

.navbar {
  align-items: center;
  // background: $grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  padding: 1.5em 0.9375em;

}

.push-left {
  margin-left: auto;
}

//Menu
.hamburger {
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
  outline: none;
  height: 30px;
  position: relative;
  width: 30px;
  z-index: 10000;
  @media screen and (max-width: 768px) {
    display: inline-block;
  }
  
  &-line {
    background: $blue;
    height: 3px;
    position: absolute;
    left: 0;
    transition: all .2s ease-out; 
    width: 100%;
    
    .hamburger:hover & {
      background: $blue;
    }
    
    &-top {
      top: 3px;
    }
    
    .menu-active &-top {
      top: 50%;
      transform: rotate(45deg) translatey(-50%);
    }
    
    &-middle {
      top: 50%;
      transform: translatey(-50%);
    }
    
    .menu-active &-middle {
      left: 50%;
      opacity: 0;
      width: 0;
    }

    &-bottom {
      bottom: 3px;
    }

    .menu-active &-bottom {
      bottom: 50%;
      transform: rotate(-45deg) translatey(50%);
    }
  }
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: all .25s ease-in; 
  
  @media screen and (max-width: 768px) {
    background: $white;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    transform: translatey(-100%);
    text-align: center;
    
    .menu-active & {
      transform: translatey(0%);  
      opacity: 1;
      z-index: 9999;
    }
  }

  .contact-button-url {
    font-size: 1rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .menu-item a {
    color: $black;
    font-size: 1rem;
    text-decoration: none;
    display: flex;
    padding: 15px 20px;
    position: relative;

    &:after{
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: $blue;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }

    &:hover:after { 
      width: 100%; 
      left: 0; 
    }
    
    @media screen and (max-width: 768px) {
      font-size: 20px;
      margin: 8px;
      justify-content: center;

    }
  }
  
  
}

.sub-nav {
    border-top: 1px solid $blue;
    display: none;
    position: absolute;
    background-color: $white;
    padding: 5px 5px;
    list-style: none; 
    width: auto;   
    background: $white;
    @media screen and (max-width: 768px) {
      position: relative;
      width: 100%;
      //display: none;
      // background-color: $grey;
      box-sizing: border-box;
      display: block;
      z-index: 1;
    }
}

 .nav__link {
   &:hover + .sub-nav {
        display:block;
        z-index: 999;
 }
}

.sub-nav {
  &:hover {
    display:block;
    z-index: 100000000000;
  }
}

.dropdown a svg {
  position: relative;
  display: flex;
  align-self: center;
  margin-left: .5em;
}

@media (max-width: 900px) {
.contact-button-url {
  display: block;
  margin: 0 auto;
  padding: 1em 0
}
}
