footer 
    background-color: $dark
    padding: 2.85em 0
    color: $light-blue
    h4 
        color: $light-blue
        font-weight: bold
        font-size: larger
    p, a, span
        color: $light-blue
        font-size: 1rem
    a 
        font-weight: bold 
        text-transform: uppercase

    ul
        li 
            color: $light-blue
            padding: .25em 0

.address
    display: flex
    align-items: center

.map-icon
    margin-right: .5em